body {
    background-color: #fce3c1;
    color: #4b290b;
}

.navbar {
    background-color: #4b290b;
}

.nav-show {
    animation: .2s forwards show;
}

@keyframes show {
    from { transform: scaleY(0); transform-origin: top; } 
    to { transform: scaleY(1); transform-origin: top; }
}

.nav-hide {
    animation: .2s forwards hide;
}

@keyframes hide {
    from { transform: scaleY(1); transform-origin: top; }
    to { transform: scaleY(0); transform-origin: top; }
}

.navbar-brand img{
    width: 3rem;
}

.navbar .nav-link {
    color: white;
}

.intro p {
    max-width: 40rem;
}

footer {
    height: 8rem;
}

footer img {
    width: 40px;
    opacity: .7;
}

footer address {
    width: 12rem;
}